stylbp-set-sizes = _set-sizes
stylbp-set-names = _set-names
stylbp-set-base-font-size = _set-base-font-size
stylbp-set-units = _set-units
stylbp-set-disallow-min-breakpoint = _set-disallow-min-breakpoint

stylbp-check = _check-all

bp-up = breakpoint-up
bp-above = breakpoint-up
up = breakpoint-up
above = breakpoint-up

bp-range = breakpoint-range
bp-between = breakpoint-range
range = breakpoint-range
between = breakpoint-range

bp-only = breakpoint-only
bp-at = breakpoint-only
only = breakpoint-only
at = breakpoint-only

bp-down = breakpoint-down
bp-below = breakpoint-down
down = breakpoint-down
below = breakpoint-down
